body 
{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #FFFAFA;
}

.HEAD 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.LITTLE1
{
  margin-top: 3vh;
  margin-bottom: 30vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TEXT1 
{
  position: absolute;
  top: 10%; 
  left: 35%;
  font-size: xx-large;
}

.TEXT1_2 
{
  position: absolute;
  top: 90%; 
  left: 40%;
  font-size: xx-large;
}

.SCREENSHOT_TEXT
{
  position: absolute;
  top: 10%; 
  left: 25%;
  font-size: xx-large;
}


.LITTLE2
{
  margin-left: 4vw;
  position: relative;
  display: inline-block; 
}

.PHOTOS 
{
  margin-top: 5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CONTAINERS
{
  text-align: center;
  font-size: 0;
  position: relative;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
.TEXT2_1
{
  position: absolute;
  top: 200%; 
  color: #808080;
  font-size: small;
}

.LITTLE_UNDER_TEXT
{
  position: absolute;
  top: 240%; 
  color: #808080;
  font-size: x-small;
  text-align: center;
}

.UNDER 
{
  position: absolute;
  top: 200%; 
  left: 30%;
  color: #808080;
  font-size: small;
}

.UPPER 
{
  position: absolute;
  top: -100%; 
  left: 10%;
  color: #808080;
  font-size: small;
}


.LITTLE_TEXT
 {
  position: relative;
  left: -30%;
  top: 100%; 
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
}

.CONTAINER1
{
  position: absolute;
  top: 35%; 
  left: 60%;
  font-size: xx-large;
}

.CONTAINER2
{
  position: absolute;
  top: 35%; 
  left: 20%;
  font-size: xx-large;
}

.MAIL
{
  
  text-align: center;
  color: #808080;
}


